.confirm.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.confirm.modal-content {
  background-color: #fff;
  max-width: 700px;
  margin: 0;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.confirm.modal-header {
  background-color: #e7e7e7;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
}

.confirm.modal-header h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.confirm.modal-body {
  padding: 16px;
}

.confirm.modal-body h6 {
  color: #757575;
  padding-bottom: 4px;
  border-bottom: 1px solid #ff8228;
  margin-bottom: 8px;
  font-weight: bold;
}

.confirm.modal-job,
.confirm.modal-contact,
.confirm.modal-Info {
  display: flex;
  flex-direction: column;
}

.modal-confirm_table {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.modal-confirm_table td {
  padding: 6px 10px;
}

.modal-btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.modal-confirm_table th {
  min-width: 200px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css-iljtu2-MuiRating-root {
}