.confirm modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.confirm modal-content {
  background-color: #fff;
  max-width: 700px;
  margin: 0;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
}
.confirm modal-header {
  background-color: #e7e7e7;
  border: none;
  padding: 8px;
  align-items: center;
}

.confirm modal-header h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.confirm modal-body {
  padding: 20px;
}
.confirm modal-body h6 {
  color: #757575;
  padding-bottom: 5px;
  border-bottom: 1px solid #ff8228;
  margin-bottom: 10px;
  font-weight: bold;
}

.confirm modal-job,
.confirm modal-contact,
.confirm modal-Info {
  display: flex;
  flex-direction: column;
}
.modal-confirm_table {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.modal-confirm_table td {
  min-width: 200px;
  padding: 10px;
  border: none;
}

.confirm modal-title {
  font-weight: bold;
}

.modal-btn {
  display: flex;
  justify-content: flex-end;
}
