/* Ensures the modal covers the entire screen with a semi-transparent background */
.confirm.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* Sets the modal content area with a fixed max width and responsive height */
.confirm.modal-content {
  background-color: #fff;
  max-width: 700px; /* Reduced width */
  margin: 0;
  height: 100%; /* Changed to auto for content-based height */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

/* Styles for the header of the modal */
.confirm.modal-header {
  background-color: #e7e7e7;
  padding: 10px 16px; /* Reduced padding */
  display: flex;
  justify-content: space-between; /* Ensures title and close button are on opposite ends */
}

.confirm.modal-header h5 {
  font-size: 16px; /* Reduced font size */
  font-weight: bold;
  margin: 0;
}

/* Styles for the body of the modal */
.confirm.modal-body {
  padding: 16px; /* Reduced padding */
}

.confirm.modal-body h6 {
  color: #757575;
  padding-bottom: 4px; /* Reduced padding */
  border-bottom: 1px solid #ff8228;
  margin-bottom: 8px; /* Reduced margin */
  font-weight: bold;
}

/* Flexbox settings for sections */
.confirm.modal-job,
.confirm.modal-contact,
.confirm.modal-Info {
  display: flex;
  flex-direction: column;
}

/* Table display settings */
.modal-confirm_table {
  display: flex;
  flex-direction: column; /* Changed to column for a tighter layout */
  margin-bottom: 5px; /* Added margin for spacing between table and other content */
}

/* Table data styling */
.modal-confirm_table td {
  padding: 6px 10px; /* Reduced padding */
}

/* Button container styling */
.modal-btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px; /* Added padding */
}


.modal-confirm_table th {
  min-width: 200px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css-iljtu2-MuiRating-root {
  font-size: 2.5rem;
}