.nav-item {
  padding: 0 15px;
}

.navbar {
  --mdb-navbar-box-shadow: none !important;
}
.nav-link {
  width: max-content;
}

.nav-item {
  position: relative;
}

.navbar-nav .nav-item .nav-link::before {
  content: "";
  background-color: #ff8228;
  position: absolute;
  left: 10px;
  bottom: 0;
  height: 4px;
  width: 0;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-item .nav-link:hover::before {
  content: "";
  width: 80%;
}

.dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}

#dropdown-basic-button {
  background-color: white;
  border: #ff8228;
  color: #ff8228;
  border: 2px solid #ff8228;
  font-weight: 900;
  box-shadow: none !important;
  transition: 0.5s ease;
}
#dropdown-basic-button:hover {
  transition: 0.5s ease;
  color: black;
  border: 2px solid black;
}
