.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-content {
  background-color: #fff;
  max-width: 700px;
  margin: 0;
  height: 100%; 
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  overflow: auto; 
}
.modal-header {
  background-color: #E7E7E7;
  border: none;
}

.modal-header  h5 {
  font-size: 18px;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}
.modal-body h6 {
 color: rgb(183, 176, 176);
 padding-bottom: 5px;
 border-bottom: 1px solid #ff8228;
 margin-bottom: 10px;
}

.job-details, .contact-details, .info-details {
  display: flex;
  flex-direction: column;
}
.modal-table {
  display: flex;
  flex-direction: row;
}
.modal-table td {
  min-width: 200px;
  padding: 10px;
  border: none;
}

.modal-title{
  display: flex;
}


.modal-btn {
  display: flex;
  justify-content: flex-end;
}