.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-content {
  background-color: #fff;
  max-width: 700px;
  margin: 0;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.modal-header {
  background-color: #e7e7e7;
  border: none;
  padding: 8px;
  align-items: center;
}

.modal-header h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.modal-body {
  padding: 20px;
}

.modal-body h6 {
  color: #757575;
  padding-bottom: 5px;
  border-bottom: 1px solid #ff8228;
  margin-bottom: 10px;
  font-weight: bold;
}

.job-details,
.contact-details,
.info-details {
  display: flex;
  flex-direction: column;
}

.modal-table {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.modal-table td {
  min-width: 220px;
  padding: 10px;
  border: none;
}

.modal-title {
  font-weight: bold;
}

.modal-btn {
  display: flex;
  justify-content: flex-end;
}

.working-status {
  border-radius: 10px;
  min-width: 140px;
  padding: 3px 15px;
  text-align: center;
}

.working-status p {
  color: #fff;
  margin: 0;
  padding: 0;
}

.working-status__pending {
  background-color: #0a6ebd;
}

.working-status__working {
  background-color: #9aa14b;
}

.working-status__completed {
  background-color: #03ac00;
}

/* confirmation space */
.confimation {
}

.confimation table th {
  min-width: 220px;
  padding: 10px;
}

.confimation table td {
  padding: 10px;
}
