* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(152, 152, 152);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.nav-item {
  position: relative;
}

.navbar-nav .nav-item .nav-link::before {
  content: "";
  background-color: #ec9f9f;
  position: absolute;
  left: 10px;
  bottom: 0;
  height: 4px;
  width: 0;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-item .nav-link:hover::before {
  content: "";
  width: 80%;
}

/* .container-fluid {
  background-color: #ff8228;
} */

.banner div:first-child {
  padding: 0;
}

/* banner_carousel */
.banner .carousel .carousel-inner {
  max-height: 600px;
  width: 100%;
}

.service-list {
  margin-top: 30px;
}

.content {
  margin-bottom: 100px;
}
.content h3 {
  margin-bottom: 30px;
}

.service-details {
  text-align: justify;
}

.chooseService-img {
  margin-bottom: 20px;
}

.service-img {
  margin-bottom: 15px;
}

.service-processing .processing-img {
  text-align: center;
}
.service-processing .service-details {
  text-align: center;
}

.register {
  background-color: #ff8228;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register .register-field {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.register .register-field span:first-child {
  margin-bottom: 2px;
}

.register .register-field a {
  background-color: #ffffff;
  padding: 7px 15px;
  width: 157px;
  color: #ff822f;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  transition: 0.1s ease-in-out;
}

.register .register-field a:hover {
  text-decoration: none;
  background-color: rgb(247, 247, 247);
  color: #ff6905;
}

.register .register-field a:active {
  transform: scale(0.93);
  text-decoration: none;
}

footer {
  background-color: #f8f8f8;
}

footer h4 {
  font-weight: 700;
  color: #8d8d8d;
  padding-bottom: 5px;
}

footer ul {
  margin-bottom: 30px;
}

footer li:last-child {
  list-style-type: none;
  word-spacing: 7px;
}

footer .footer_component {
  margin-bottom: 30px;
}

footer .footer_component ul {
  line-height: 40px;
  list-style-type: none;
}

footer .footer_component-last {
  border-top: 1px solid #cccccc;
}

.footer_component-last .footer-last {
  padding: 16px 0 0px 0;
}

@media only screen and (max-width: 450px) {
  .service-details p {
    text-align: left;
  }
  .service-img img {
  }
}

/* @media only screen and (max-width: 768px) {
   {
    text-align: center;
  }
} */
