* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-line {
  margin-bottom: 20px;
}

.main-form {
  background-color: #f8f8f8;
  padding: 0 20px;
  overflow: hidden;
}

.work-field span {
  display: block;
}

.form-title {
  background-color: #ff8228;
  color: white;
}

.work_info-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.work-field span {
  display: block;
}

.service_info-test {
  line-height: 40px;
}

.service_info-test span {
  display: block;
}

.payment_info-test {
  line-height: 40px;
}

.payment_info-title {
  margin-top: 44px;
}

.main-form {
  position: relative;
}

.line {
}
