* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-form {
  background-color: #f8f8f8;
  padding: 0 20px;
  position: relative;
}

.form-title {
  background-color: #ff8228;
  color: white;
  font-weight: 800;
  padding: 7px 0;
}

.title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.work-field span {
  display: block;
}

.service_info-test {
  line-height: 40px;
}

.service-info {
  margin-top: 52px;
}

.service_info-test span {
  display: block;
}

.payment_info-test {
  line-height: 40px;
}

.payment-info {
  margin-top: 50px;
}

.line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: orange;
  top: 0;
  left: 50%;
}

.order-confirm {
  text-align: right;
  margin-top: 10px;
  padding-bottom: 20px;
}
.order-confirm button {
  padding: 0 25px;
  border-radius: 8px;
}

.order-confirm button:first-child {
  margin-left: 30px;
  color: black;
  font-weight: 700;
  background-color: white;
  border: 1px solid #ff8228;
}

.order-confirm button:last-child {
  margin-left: 30px;
  color: white;
  font-weight: 700;
  background-color: #ff8228;
  border: none;
}

@media only screen and (max-width: 768px) {
  .line {
    display: none;
  }
  .service-info {
    margin-bottom: 52px;
  }
}
