* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-form {
  background-color: #f8f8f8;
  padding: 0 20px;
  position: relative;
}

.form-content {
  background-color: #ff8228;
  color: white;
  font-weight: 800;
  padding: 7px 0;
}

.content {
  margin-top: 10px;
  margin-bottom: 20px;
}

.work-field span {
  display: block;
}

.service_info-test {
  line-height: 40px;
}

.service-info {
  margin-top: 52px;
}

.service_info-test span {
  display: block;
}

.payment_info-test {
  line-height: 40px;
}

.payment-info {
  margin-top: 50px;
}

.line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: orange;
  top: 0;
  left: 50%;
}

.order-confirm {
  text-align: right;
  margin-top: 10px;
  padding-bottom: 20px;
}
.order-confirm button {
  padding: 0 25px;
  border-radius: 8px;
}
.radio-fake {
  width: 18px;
  height: 18px;
  border: 1px solid rgb(196, 196, 207);
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  z-index: 1;
  color: rgb(120, 120, 120);
  flex-shrink: 0;
  cursor: pointer;
}

.radio-fake::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 8px;
  height: 8px;
  background-color: rgb(11, 116, 229);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
}
.order-confirm button:first-child {
  margin-left: 30px;
  color: black;
  font-weight: 700;
  background-color: white;
  border: 1px solid #ff8228;
}

.order-confirm button:last-child {
  margin-left: 30px;
  color: white;
  font-weight: 700;
  background-color: #ff8228;
  border: none;
}

@media only screen and (max-width: 768px) {
  .line {
    display: none;
  }
  .service-info {
    margin-bottom: 52px;
  }
}
