.right_bar-main {
  background-color: #fff;
  border-radius: 10px;
}

.info_ordered-table tr td:nth-child(2),
td:nth-child(4) {
  font-weight: 700;
}

.info_ordered-table tr td {
  padding: 10px;
}

/* .apartment-package {
  min-height: 300px;
} */

.orderedPackage {
  border: 1px solid #ff8228;
  border-radius: 15px; /* increased border radius */
  padding: 15px 20px; /* adjusted padding */
  margin-bottom: 20px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}
.orderedPackage_main {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
}

.orderedPackage_main .orderedPackage-name span {
  color: #ff8228;
  font-weight: 650;
}

.orderedPackage_main .orderedPackage-status .box-status {
  color: white;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 8px;
  font-weight: 600;
  width: 500px;
}

.box-status__active {
  background-color: #03ac00;
}

.box-status__disable {
  background-color: #757575;
}

.box-status__expired {
  background-color: #952323;
}

.info-ordered .button button {
  background-color: #ffcaa3;
  border: none;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: 700;
}

.active-link {
  color: #ff8228 !important;
  border-bottom: 3px solid #ff8228;
}

.chooseHouse a {
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
  color: #000000;
}

.chooseHouse a:hover {
  color: #e76a1f;
}

.choose_table tr td {
  padding: 10px;
  cursor: pointer;
}
.choose_table tr td :hover {
  text-decoration: underline;
}
.chooseHouse-details a {
  cursor: pointer;
}
.choose {
  margin-bottom: 10px;
}

.choose :hover {
  border-bottom: 3px solid #ff8228;
}

.orderedPackage .button button {
  right: 12px;
  bottom: 10px;
  outline: none;
}

.action {
  cursor: pointer;
  text-decoration: underline;
  color: #ff8228 !important;
}
