.staff-layout {
  display: flex;
  flex-direction: row;
}

.staff-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.active-staff {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #ff8228;
  color: white !important;
}

.logo-side-bar {
  display: block;
  top: 0;
  width: 120px;
  margin-bottom: 60px;
}

.menu-section h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.menu-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-section li {
  margin-bottom: 30px;
  text-decoration: none;
}

.menu-section li:last-child {
  margin-bottom: 0;
}

.Job ul li a,
.Information ul li a {
  transition: all 0.1s ease;
  outline: none;
}

.Job ul li a:hover,
.Information ul li a:hover {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #ff8228;
  color: #fff !important;
}

/* .Job .active,
.Information ul li a .active {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #ff8228;
    color: white !important;
} */

@media screen and (max-width: 768px) {
  .staff-layout {
    flex-direction: column;
  }
}
