.right-bar_house {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

/* .house-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
} */

.house-info .house-box {
  border: 1px solid #FFA15D;
  border-radius: 8px;
  margin-bottom: 10px;
}

.fa-solid.fa-house {
  margin-right: 10px;
}

.house_info-address table {
  width: 100%;
}

.house_info-address td {
  padding: 5px 0;
}

.add-box {
  height: 144px;
  padding: 10px;
  background-color: #FFEBE1;
  border-radius: 8px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.add-apartment {

}

.add-apartment__text {
  padding: 8px;
  width: fit-content;
  margin-bottom: 10px;
}

.add-apartment__text:hover {
  background-color: #FFEBE1;
  color: #FFA15D !important;
}

.add-apartment__text a {
  color: #ff8228;
  text-decoration: none;
}

/* add page */
.add-apartment .button-container {
  display: flex;
  justify-content: end;
}

.add-apartment .button-container button {
  border: none;
  padding: 5px 15px;
  border-radius: 8px;
  width: 140px;
}

.add-apartment .button-container .btn-add {
  background-color: #FFA15D;
  color: #fff;
}

.add-apartment .button-container .btn-add:hover {
  background-color: #ff8228;
  /* color: #fff; */
}

.add-apartment .button-container .btn-cancel {
  background-color: transparent;
  border: 2px solid #ff8228;
}

.add-apartment .button-container .btn-cancel:hover {
  background-color: #FFEBE1 !important;
}

.add-apartment .apartment-info table th {
  min-width: 120px;
}
