/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Logo Styles */
/* .logo-side-bar {
  display: block;
  top: 0;
  width: 120px;
  margin-bottom: 60px;
}

.menu-section h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.menu-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-section li {
  margin-bottom: 30px;
  text-decoration: none;
}

.menu-section li:last-child {
  margin-bottom: 0;
}

.Job ul li a,
.Information ul li a {
  transition: all 0.1s ease;
  outline: none;
}

.Job ul li a:hover,
.Information ul li a:hover {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #ff8228;
  color: #fff !important;
}
.Job .active,
.Information ul li a .active {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #ff8228;
  color: white !important;
} */
.data-table {
  background-color: #fff;
  padding: 20px;
  border-collapse: collapse;
  width: 100%;
}

.data-table p {
  margin: 0;
}

.css-t89xny-MuiDataGrid-columnHeaderTitle{
  font-weight: bold !important;
}
