.right-bar_house {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.row_house {
  /* display: flex; */
  /* align-items: center; */
  padding: 20px 0;
  background: white;

}

.house-info {
  padding: 10px;
  /* margin: 20px; */
  /* border: 1px solid #FFA15D; */

  display: flex;
  flex-direction: column;
  width: 100%;
}

.house-info .house-box {
  border: 1px solid #FFA15D;
  border-radius: 8px;
}

.fa-solid.fa-house {
  margin-right: 10px;
}

.house_info-address table {
  width: 100%;
}

.house_info-address td {
  padding: 5px 0;
}

.add-box {
  height: 144px;
  padding: 10px;
  background-color: #FFEBE1;
  border-radius: 8px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.add-apartment {

}

.add-apartment__text {
  padding: 8px;
  width: fit-content;
}

.add-apartment__text:hover {
  background-color: #FFEBE1;
  color: #FFA15D !important;
}

.add-apartment__text a {
  color: #ff8228;
  text-decoration: none;
}

/* add page */
.add-apartment .add-btn {
  display: flex;
  justify-content: end;
}

.add-apartment .add-btn button {
  border: none;
  padding: 5px 15px;
  background-color: #FFA15D;
  border-radius: 8px;
}

.add-apartment .add-btn button:hover {
  background-color: #ff8228;
  /* color: #fff; */
}

.add-apartment .apartment-info table th {
  min-width: 120px;
}
